/* App container */
.app-container {
  display: flex;
  height: 100vh; 
  font-family: "Capriola", serif;
  /* font-family: "Outfit", serif; */
  /* font-family: "Libre Barcode 39 Text", serif; */
}

/* Content styles */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f9fa;
}

input::placeholder {
  font-size: 0.8rem; /* Adjust the size as needed */
  color: #888; /* Optional: to change the placeholder text color */
}
select {
  font-size: 0.8rem; /* Adjust the size as needed */
  color: #888; /* Optional: to change the placeholder text color */
}

table {
  font-size: 0.9rem; /* Adjust the size as needed */
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

/* Table Headers and Data Cells */
th, td {
  padding: 8px; /* Adjust padding for better spacing */
  border: none; /* Remove cell borders */
  text-align: left;
}


/* Table Header Styling */
thead tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

thead tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

/* Table Footer Styling */
tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

/* Hover Effect */
.table-hover tbody tr:hover {
  background-color: #f1f1f1; /* Change background on hover */
  transition: background-color 0.3s;
}




.dropdown-toggle::after {
  display: none;
}
